.type-main
  .type-header
    %h1 Typegame

  .wrap
    %input#start_button{:onclick => "ready()", :style => "text-align: center", :type => "button", :value => "start"}/
    #count
    %h1
      #japanese
    %h2
      #word
    #scoredis

