!!!
%html
  %head
  %meta{:charset => "utf-8"}/
  -# %audio#missaudio{:src => "sound8.mp3"}
  -# %audio#correctaudio{:src =>"sound pinpon.mp3"}
  %title Type game
  = csrf_meta_tags
  = stylesheet_link_tag'application', media: 'all'
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  = javascript_include_tag 'application'
  -# %audio#missaudio{:src => "sound8.mp3"}
  -# %audio#correctaudio{:src =>"sound pinpon.mp3"}
  = yield
